
target/
dbt_packages/
logs/
dbt_project/.DS_Store
dbt_project/dbs_obs/.DS_Store
dbt_project/dbs_obs/data/streaming_output
dbt_project/dbs_obs/metric_instability.csv
data/*
# data/streaming_output/*

*.duckdb
*.db

# dbt
dbt_project/logs/*
dbt_project/dbs_obs/target/
dbt_project/logs